#   DB接続設定
DB_DATABASE=
DB_USERNAME= 
DB_PASSWORD=
DB_ROOT_PASSWORD=

#   AWS接続設定
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=
AWS_ENDPOINT=
AWS_LOCAL_ENDPOINT=

#   Localstackで起動するサービスを指定
LOCALSTACK_SERVICES=

# 表示用（ブラウザから見たLocalStack）
AWS_URL=