# EXAMPLES/.env.laravel.example
FILESYSTEM_DISK=s3
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=ap-northeast-1
AWS_BUCKET=my-test-bucket
AWS_ENDPOINT=http://aws:4566
AWS_USE_PATH_STYLE_ENDPOINT=true
AWS_URL=http://localhost:4566/my-test-bucket